<div ng-controller='wordGroupSelection as wordGroupController'>


<div class="row">
		<div class="col-sm-6">
			
			<div class="alert alert-info" >
			Current Selected Word List: <strong>{{wordGroupController.selectedGroupName}}</strong>
			<br> <br>
				<h4>
					<strong>Select a new word group :</strong>
				</h4>
			</div>
			<br>
			<div class="span3">
			<table class="table table-hover table-bordered">
				<tr ng-repeat="wordGroupName in wordGroupController.wordGroupNameList"  ng-click="wordGroupController.selectRow(wordGroupName)">
					<td>{{ wordGroupName }}</td>
					
				</tr>
			</table>
			</div>

		</div>
		<div class="col-sm-6">
		<img src="../img/voc7.jpg" class="img-thumbnail">
		</div>

	</div>
	
</div>