
<div class="container" ng-controller='showWords as showWordsControl'>
	<div class="row">
		<div class="col-sm-6">
			<div class="alert alert-info">
			<u><strong>Word writing in Word Group</strong> </u>
				<h5>Current Selected Word List: <strong>{{showWordsControl.selectedList}}</strong>, Word {{showWordsControl.counter+1}} of
					{{showWordsControl.wordList.length}} : <strong>{{showWordsControl.wordList[showWordsControl.counter].hebWord}}</strong></h5>
				
			</div>
			<div class="alert alert-info"
				ng-if="showWordsControl.status=='start'">
				<Strong>Please Translate word</Strong>
			</div>
			<div class="alert alert-success"
				ng-if="showWordsControl.actionSuccess()">
				<Strong>Good Answer</Strong>
			</div>
			<div class="alert alert-danger"
				ng-if="showWordsControl.actionError()">
				<Strong>Wrong Answer</Strong>
			</div>
			<div class="alert alert-success"
				ng-if="showWordsControl.actionSuccessAll()">
				<Strong>Good Answer, No more Words</Strong>
			</div>


			<div class="form-group">
				<div class="row">
					<div class="col-sm-3">
						<label for="translation">Translate:</label>
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="translation"  ng-keyup="$event.keyCode == 13 && showWordsControl.checkWord()"
							ng-model="showWordsControl.translation">
					</div>
					<div class="col-sm-3">
						<button class="btn btn-primary"
							ng-click="showWordsControl.checkWord()"
							ng-disabled="showWordsControl.actionSuccessAll()">send</button>
					</div>
				</div>
			</div>
			<a class="btn btn-warning btn-sm" ng-click="showWordsControl.reset()">Reset</a>
			<a class="btn btn-primary btn-sm" ui-sref="word_selection">Back</a>
		</div>



		<div class="col-sm-6">
			<img src="../img/voc4.png" class="img-thumbnail">
		</div>
	</div>

</div>