<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container" ng-controller='showWords as showWordsControl'>
	<br>
	<a class="btn btn-info" ng-click="showWordsControl.reset()">Reset</a>
		<br>
		<label>Word for translation: </label>
		{{showWordsControl.wordList[showWordsControl.counter].heb}}
		<br>
		<br>
		<table class="table table-striped">
			<tr ng-repeat="word in showWordsControl.wordsToLearn.words">
				<td>{{ word.eng }}</td>

				<td><a class="btn btn-primary btn-sm"
					ng-click="showWordsControl.selectWord(word.eng)">select</a></td>
			</tr>
		</table>
	</div>
</body>
</html>