<div ng-controller='wordGroupSelection as wordGroupController'>


	<div class="row">
		<div class="col-sm-8">

			<div class="alert alert-info">
				Current Selected Word List: <strong>{{wordGroupController.selectedGroupName}}</strong>
				<br> <br>
				<h4>
					<strong>Select a new word group :</strong>
				</h4>
			</div>
			<br>
			<div ng-show="wordGroupController.isLoading">Please Wait ...</div>
			<div class="span3">
				<table class="table table-hover table-bordered">
					<tr
						ng-repeat="wordGroupName in wordGroupController.wordGroupNameList">
						<td td style="width: 50%"
							ng-click="wordGroupController.selectRow(wordGroupName)">{{
							wordGroupName }}</td>
						<td td style="width: 50%">
							<button class="btn btn-primary"
								ng-click="wordGroupController.selectRowAndShowWords(wordGroupName)">Select</button>
							<button class="btn btn-success"
								ng-click="wordGroupController.selectRow(wordGroupName)">Edit</button>
							<button class="btn btn-danger"
								ng-click="wordGroupController.deleteWordGroup(wordGroupName)">Del</button>
						</td>
					</tr>
				</table>
			</div>
			<br> <a class="btn btn-primary" ui-sref="edit_words">Add new words</a>
		</div>

		<div class="col-sm-4">
			<img src="../img/voc7.jpg" class="img-thumbnail"><br>
		</div>

	</div>

</div>